[2018-04-18 03:34] palnabarun opened #1 "Update README.md"
Currently, the Readme contains the boilerplate contents of CRA. That needs to be replaced with appropriate content for the project.

[2018-04-18 03:35] palnabarun opened #2 "Lack of contribution guidelines"
The project does not have any guidelines specifying how to start contributing to the project.

[2018-04-18 03:37] palnabarun opened #3 "Need of GitHub templates"
We need to have Issue Template and PR Template for the project so that the content is uniform and there is a framework for contributors to file an Issue/PR.

- [ ] Issue Template
- [ ] PR Template

[2018-04-18 03:37] sounak07 commented on #2
I guess the moderators are going to update that soon.

[2018-04-18 03:39] palnabarun opened #4 "Need of Continuous Integration services"
This is really needed to check the code quality pushed by the contributors, be it code or documentation. Travis CI can be used for the purpose.

[2018-04-18 03:40] palnabarun commented on #4
I have the idea about setting up Travis but not much idea about tests in the Javascript/React world.

@divyamrastogi  @ritikrishu  Please provide your inputs.

[2018-04-18 03:42] palnabarun commented on #2
@sounak07  Yes, we will shortly. :)

[2018-04-18 05:13] divyamrastogi commented on #4
@palnabarun: I can handle the unit tests.

[2018-04-18 05:45] palnabarun commented on #4
Great. :)

Please also link some articles here which let's new contributors know about unit testing in ReactJS.

[2018-04-18 08:48] realslimshanky commented on #3
I would like to help out with this issue.

[2018-04-18 08:52] realslimshanky commented on #4
@divyamrastogi we have few tests written by CRA as well. You might wanna include them as well. https://github.com/UdacityMobileWebScholarship/showcase-app#running-tests

[2018-04-18 08:55] divyamrastogi commented on #4
@realslimshanky : That's the plan, they've got a few examples already. I'll include some good tutorials for writing unit tests as well, so that everyone who's going to be writing components will be able to write unit tests for them.

[2018-04-18 09:03] realslimshanky opened #5 "Design/Wireframes needed in order to build UI"
We're in need of designs or wireframes in order to start the web app. Here are some suggestions using which a person can contribute.

- A landing page for the web app.
- A web-app submission page which takes the source code and other information about the project from the project.
- A showcase page which will include all the submissions.
- A dashboard for project submitter, project admin or with s

[2018-04-18 09:09] realslimshanky commented on #5
@divyamrastogi @PrabhanshuAttri @palnabarun @ritikrishu @shubhshrma @ParthS007
Please suggest additions/updates. I guess we'll allow some freedom to the designer and see what they can come up with. This way we'll get to see what might look better on the front-end.

[2018-04-18 11:10] ParthS007 commented on #3
Will give PR by night 👍

[2018-04-18 12:08] #3 closed

[2018-04-18 13:18] shubhshrma commented on #5
@realslimshanky The flow could be like there will be an admin who will approve any project submission request from anyone else.

Another option could be that we give accounts only to moderators of all selected projects then there won't be a need for review and approval.

Or better we could give accounts to all selected candidates in all the four tracks so that they can make a profile page of their

[2018-04-18 18:24] shubhshrma commented on #5
Some of my thoughts on the flow. It could be like there will be an admin who will approve any project submission request from anyone else.

Another option could be that we give accounts only to moderators of all selected projects then there won't be a need for review and approval. Or better we could give accounts to all selected candidates in all the four tracks so that they can make a profile pag

[2018-04-18 19:50] highskillzz commented on #4
So where can we find the individual components that we need to code?

[2018-04-18 19:54] highskillzz opened #7 "Backend code"
I just wanted to clarify the backend will be in node right? If so then some people are in a small confusion whether we will be using sails or express as sails is more developed.

Can the moderators please address this issue?

[2018-04-18 19:56] highskillzz commented on #1
I will take this up but to what should I convert this to?

Like should I change the readme to the description and a few commands on how to run it will be good enough?

[2018-04-18 20:11] ritikrishu commented on #1
Hi @highskillzz !
Glad you volunteered, actually this is an initial setup so I've assigned this to myself. Once it gets a skeleton and basic structure. From there you can suggest/edit improvements. I'll make sure to tag you in the PR.

[2018-04-18 21:42] ritikrishu commented on #1
Pull Request is up for review #8

[2018-04-18 21:43] ritikrishu commented on #2
Pull Request is up for review #8

[2018-04-18 21:47] ritikrishu commented on #4
@highskillzz soon you'll find issues for modules and components. Once we finalize the designs we'll be flooding those out to you, so you might want to keep an eye🔭 on #5

[2018-04-18 21:51] ritikrishu commented on #7
we've a pull request up for client module and general project docs #8
Although this does not contains general documentation for server module but we'll have the content soon!

[2018-04-19 00:08] PrabhanshuAttri commented on #5
I think we can use [Ant Design](https://ant.design) for CRA.

[2018-04-19 04:24] anurag-majumdar commented on #5
Ritikrishu, nicely said, will keep those points in mind. Working on a wireframe design for the first iteration and will share the images.

[2018-04-19 06:46] anurag-majumdar commented on #7
While looking at the thought process for the application, I saw login and register modules too. It looks like we have to include local login. If social login with Google and Facebook is required that can be added too. I have a set of flows I would like to share regarding authentication.

Also, since there is an admin panel and a user panel, so we need a collection schema where the admin and user r

[2018-04-19 09:02] anurag-majumdar commented on #7
@nikitasharma2692 Absolutely. I think this should be addressed asap. Opening an issue for the same.

[2018-04-19 09:14] anurag-majumdar opened #9 "Signup and Login for backend (Local and social login)"
According to the showcase app's requirements, looks like there will be an Admin section and a Project owner section. Only the user who will be visiting the projects need not need authentication. So there are 2 roles in total for authentication part.

This is going to be an important part of the application, let us discuss the strategies which we can use.

I have some ideas in mind, will share them

[2018-04-19 10:17] palnabarun commented on #9
I suggest using Firebase Auth and Database for all the backend auth and storage. It is robust and usability is good.

[2018-04-19 11:18] highskillzz commented on #7
admin login and the other social logins can be implemented easily but what about the other ends of the backend

how shall we make the frontend for the project card look like? Also when the user click see more what should we show the user more about the project?
What I am thinking is
The owner can throw in their github project link and its working link and its description and then we can show it in

[2018-04-19 11:25] nikitasharma2692 commented on #9
For the role we can use jwt and put up the  token in the cookie for the authorization. It will make the process quiet easier.

[2018-04-19 11:28] nikitasharma2692 commented on #4
We can use SonarQube , https://www.sonarqube.org/   for the code smells , vulnerability in the code, unused imports , code coverage.

[2018-04-19 11:28] nikitasharma2692 commented on #4
I can work upon linking that to project if it is not added yet

[2018-04-19 11:31] highskillzz commented on #5
I think it's better we divide who makes wire frame for which. If everyone can tell what they are working on, I will choose mine

[2018-04-19 11:33] highskillzz commented on #9
But do react and cookies go well together?
Last time I checked I couldnt fond a decent tutorial on it and so went with local storage

[2018-04-19 11:35] nikitasharma2692 commented on #9
Yes it does, Anything that works with javascript will work in react.

[2018-04-19 11:36] highskillzz commented on #9
Cookies it is then..

[2018-04-19 11:38] highskillzz commented on #9
Then shall  I will work on this

[2018-04-19 12:10] Rohanhacker commented on #9
I'd like to work on it

[2018-04-19 12:29] palnabarun commented on #9
@highskillzz  @Rohanhacker  Let us first decide on the wireframes in the other issue. Once that gets sorted, we can work on the models and auth.

[2018-04-19 12:37] deveshjadon98 commented on #9
I agree with @palnabarun, we should focus on UI part by integrating firebase in our app. and the JWT can be used for management as suggested by @highskillzz

[2018-04-19 12:42] deveshjadon98 commented on #4
@divyamrastogi are we using Jest and Enzyme for testing our components?

[2018-04-19 12:44] anurag-majumdar commented on #9
I would definitely like to work on this part too since I have worked on similar issues before in some open source projects too.
@highskillzz as you mentioned, we can use cookies, that is a good idea, that will prevent XSS attacks.
@palnabarun since I do not see any back-end code generated using node.js for the project, using firebase can really help us out in this. We can use FireStore similar to

[2018-04-19 12:53] Rohanhacker commented on #9
@palnabarun There is no point in blocking backend on wireframes they are completely independent

[2018-04-19 13:40] divyamrastogi commented on #4
We'll be using Jest, since Facebook is the one who created it., forit Testing. Travis CI will be our CI tool.

[2018-04-19 13:44] ParthS007 commented on #4
@divyamrastogi I can help you in setting up of Travis CI and Codecov(for code coverage).

[2018-04-19 13:46] ritikrishu commented on #5
@realslimshanky @divyamrastogi should we mark this issue assigned?

[2018-04-19 13:49] ParthS007 commented on #4
@divyamrastogi We can also add codacy for checking the quality of PR.

[2018-04-19 13:53] divyamrastogi commented on #4
All right, I'll definitely look at all these options and we'll cover all the bases. Unit Testing, E2E, Code Coverage are the ones we'll start with. Let's do this on Sunday evening. By then we will have a few components to start coding, hopefully.

[2018-04-19 14:01] ritikrishu commented on #9
Let's discuss basic skeleton for the backend and properly document it, next time we all can join in a call. If we get the roadmap well documented, it'll help contributors get an idea and pick an open issue. Also prevents small modular discussions in parts spread between different issues.
@divyamrastogi @palnabarun @ParthS007 @PrabhanshuAttri @shubhshrma @realslimshanky

[2018-04-19 14:06] palnabarun commented on #9
@ritikrishu  I was also thinking of the same.
@anurag-majumdar Waiting for your wireframes. :)

[2018-04-19 14:15] highskillzz commented on #9
@Rohanhacker Yes node for the backend but should we use sails? because it comes with admin and user login done already

[2018-04-19 14:40] anurag-majumdar commented on #5
I am currently working on an idea regarding the landing page, sign up and login page and list of projects screen when the user clicks on projects in the landing page.

[2018-04-19 14:47] #1 closed

[2018-04-19 14:48] shubhshrma commented on #5
@ritikrishu I am a little bit spectical about one central admin when there will already be project owners for all selected projects. Other than that, the description was perfect :smile:. Front end developers can now probably start creating things having a destination in mind.

[2018-04-19 15:06] palnabarun commented on #2
Fixed with #8

[2018-04-19 15:06] #2 closed

[2018-04-19 16:55] Rohanhacker commented on #9
I think express is better because sails is still not have its version 1.0 and express provide a lot of flexibility. We have so many contributors so creating admin and user login stuff ourselves won't be much of a problem

[2018-04-19 17:08] anurag-majumdar commented on #9
@Rohanhacker I agree with you on this one since express is really quite stable and it makes it really easy to use a lot of features. We simply cannot go wrong with express.

[2018-04-19 17:10] Rohanhacker commented on #9
I don't think firebase if good for an open source project

[2018-04-19 18:40] sb7896 opened #11 "CONTRIBUTING.md link is broken"
CONTRIBUTING.md link is broken under [How to Contribute](https://github.com/UdacityMobileWebScholarship/showcase-app#how-to-contribute) heading. It is currently pointing to [CONTRIBUTING.md](https://github.com/UdacityMobileWebScholarship/showcase-app/blob/master/CONTRIBUTING.md), instead it should point to [CONTRIBUTING.md](https://github.com/UdacityMobileWebScholarship/showcase-app/blob/master/.g

[2018-04-19 20:17] blenderskool commented on #5
I have been working on a few layouts. Also here are the proposed colors and fonts for the app.

Font used - [**Nunito**](https://fonts.google.com/specimen/Nunito)

https://projects.invisionapp.com/boards/m/B83LXHAGZSV

I would add all future layouts in the board above.

Do share your thoughts for the designs. Also try to maintain the above board for all designs. This will keep the them organised.

[2018-04-19 21:07] ParthS007 commented on #5
@blenderskool  They are looking cool! :smiley:

[2018-04-20 01:25] anurag-majumdar commented on #5
I recently worked on the sign-up and login page wireframe for desktop and mobile. Colours can be changed. just to give an idea of the wireframe and how it will look.
Here are the following pics of the first iteration of the design:

![web sign up](https://user-images.githubusercontent.com/13219942/39025648-0ac22e48-4466-11e8-93de-b3e88ac5f3ba.jpg)
![mobile login and signup](https://user-images.git

[2018-04-20 05:34] nikitasharma2692 opened #14 "Setting up SASS, or Material UI/ Bootstrap in the frontend code"
Hi All, Meanwhile wireframes are getting ready , we can integrate SASS, or Material UI/ Bootstrap in  our code. Provide feedback. I can start on this once stack is finalised.

[2018-04-20 11:08] anurag-majumdar commented on #5
Today I will be working on the prototype with wireframe regarding the flow from landing page to sign up pages. I think instead of using radio buttons we can have a separate button on the landing page requesting for sign up or login as admin or project owner. Let me know what other observations you guys feel regarding the previous design. Thanks in advance.

[2018-04-20 11:54] blenderskool commented on #5
@anurag-majumdar  Great work! I would suggest moving the title of the app at the top. Having two login buttons on a single page is a little misleading

[2018-04-20 13:00] blenderskool commented on #5
@ParthS007 Thanks. I have added more layouts for the user profile page and the notifications.

NOTE: I am just experimenting with many features in the UI. We may not be able to add all features, but if in the future we want to expand it, we can do so :slightly_smiling_face:

[2018-04-20 13:51] ritikrishu commented on #5
I think we should create a zeplin (or similiar) thing and assign this issue to individuals with separate screens. They can coordinate with collaborators team and among themselves for initial branding and start picking up and working on different issues. We should not waste much time discussing this issue, instead start implementation ASAP.
@divyamrastogi @palnabarun @ParthS007 @PrabhanshuAttri @sh

[2018-04-20 14:05] blenderskool commented on #5
@ritikrishu Those are the proposed designs by me for the actual app. I have designed most of the layouts based on the data we need to display, including some of my personal ideas for the app that we can implement once the basic version is ready.

[2018-04-20 14:26] ritikrishu commented on #5
@blenderskool it'll be nice to have the designs first and link to it. So anyone contributing to the feature will have a clear picture of what they are supposed to build. It'll also help communicating the details better while creating issues.
We'll decide on what libraries if any, we are going to use for UI components once we've a basic design set that is finalised by the whole team. This issue is

[2018-04-20 14:30] ParthS007 commented on #5
@ritikrishu  I totally agree with you.
@realslimshanky @shubhshrma @PrabhanshuAttri @divyamrastogi  Please give your views

[2018-04-20 14:43] palnabarun commented on #5
@blenderskool  Great designs. There is one thing though, we can't install a project. Instead, we can view it. So, it be better if the button shows View instead of Install. I hope it makes sense.

@ritikrishu  Agreed. Let's have a call.

[2018-04-20 14:51] blenderskool commented on #5
@palnabarun Even I thought about that. As I designed it based on @realslimshanky post-https://blog.shanky.xyz/google-udacity-scholarship.html#google-udacity-scholarship I saw Install button in the explorer hence decided to add it to the design.

We can change that to 'View' while development, I think it is pretty minor fix :slightly_smiling_face:

[2018-04-20 15:02] PrabhanshuAttri commented on #5
@anurag-majumdar and @blenderskool Impressive work. I think we can choose @blenderskool's design. Ant design or material UI, both work for me, as long as the framework has good support and large community. This will be good for long-term support.

@blenderskool Just out of curiosity, which app did you use to create this UI? Gravit Designer or InvisionApp?

[2018-04-20 15:12] PrabhanshuAttri commented on #9
@ritikrishu Let's discuss this. I think firebase with cookies and IndexDB can work.

[2018-04-20 15:34] blenderskool commented on #5
@PrabhanshuAttri Thanks. For designing the layout, I used Gravit designer. And keeping the layouts, files organized, I am using InvisionApp board.

[2018-04-20 15:48] nikitasharma2692 commented on #14
Arent we ready with react and from the design it is clear that we have to use material so why not to integrate. We must be ready with skeleton once we have the designs ready.

[2018-04-20 16:29] anurag-majumdar commented on #14
I have a suggestion regarding material design part. We can go ahead with the latest version of **material-ui** or we can choose **materialize css** too. As of the latest build, materialize uses vanilla JavaScript instead of jQuery, so it won't create problems regarding performance. There is also another library named Material web components for the web and it is designed officially by devs at Goog

[2018-04-20 16:52] nikitasharma2692 commented on #14
using 3rd option is better , we we will able to directly use components in the react way,  in non react way we have to make individual component for button, input etc... . Best example is popup's or overlays we will not have to worry lifecycle methods just import and apply.

[2018-04-20 16:59] nikitasharma2692 commented on #5
@anurag-majumdar , Great work. Just one suggestion.
On the Dashboard page(Projects list page) Showing such big filter will be a challenge for a small screens(keeping in mind lowest screen size (240 x 320)) What do you think ?

[2018-04-20 17:04] anurag-majumdar commented on #14
@nikitasharma2692 yes, that definitely is a part as it is the react way. Other choices can be explored too. For example, the components having JavaScript in them may need to be initialized under a specific lifecycle method like in Angular ngOnInit helps to do so for every JavaScript component's initialization. So in React it will be like overlay.init() for ComponentWillMount lifecycle method in Re

[2018-04-20 17:16] anurag-majumdar commented on #5
@nikitasharma2692 I think that filter icon is a dummy for now and the filter feature can be added later on which will include search items and all. This part can be continued after the first workable version is shipped I guess. What do you guys feel?

Nevertheless, I don't think it will be tough to render on the smallest of devices since the planning of the filter options will be made similar to h

[2018-04-20 17:54] highskillzz commented on #14
I think its best we use a react specific ui because not everyone has used react before and are learning now so it would be best if we used something that was tailered for react is my view

[2018-04-20 17:57] highskillzz commented on #9
ok then

server-express(decided)
database- firebase or mongoDB or IndexDB7
authentication-cookies(decided)

Right? This is to clear anyone new to the discussion.
@Rohanhacker @anurag-majumdar @palnabarun

[2018-04-20 18:05] anurag-majumdar commented on #14
Just in case if another framework is used in place of material-ui we can document it in the style guide section on how to use a JavaScript specific part in code. Generally, tabs, sidenav, parallax and other components which cause interaction are subject to JavaScript code.

[2018-04-20 18:38] PrabhanshuAttri commented on #5
Continuing discussion about UI framework from #14 to avoid separate discussions.

[Ant.Design](https://ant.design/docs/react/use-with-create-react-app) is also tailored to react. It's same as material UI, but the UI components are way closer to @blenderskool design. Also, it's aesthetically pleasing and non-monotonous like material UI.

[2018-04-20 19:26] shubhshrma commented on #5
Thanks for the great enthusiasm on this, contributors!

There is a need of assignment of different designs to different people as this is an urgent issue. We can create a checklist in this issue or maybe separate issues for every page and get the designs done quick. Now, we need to list out all the final pages we'll have in the app. @realslimshanky @ritikrishu @ParthS007

The primary screens that

[2018-04-20 19:38] blenderskool commented on #5
@PrabhanshuAttri I am not differentiating between the two, but what I would suggest is something like a blend between both.
One thing I like about Material design is **ripple effects**. They are much better than Ant design's hover effects. But Material design does not have a good looking input field whereas Ant design has a good range of input fields.
Since my design is based on **cards and drop s

[2018-04-20 19:47] blenderskool commented on #5
@shubhshrma As of now I have added the **Individual project**, basic **admin panel** (more info required to finish it) and **projects browser**(home page) layout in the design board.

@anurag-majumdar has wireframed the **authentication page** so we can have it ready soon.
I think we can start development on these screens if the designs are finalized.

[2018-04-20 21:40] anurag-majumdar commented on #5
Thanks for the valuable feedback on the previous Wireframe iteration.
I have added a landing page to the app and some changes as suggested by @blenderskool and my fellow co-mods.

All the designs and prototypes are built using Adobe XD.

Here is the video of the prototype built so far:
https://www.youtube.com/watch?v=-agyA6J7Icc&feature=youtu.be

Landing Page:
![web landing page](https://user-imag

[2018-04-20 21:47] anurag-majumdar commented on #5
Regarding blending of the look and feel for material and Ant design, I agree with @blenderskool on this. The best thing about material design is perhaps the use of shadows, which we can customize easily on this app using css.
The designs created by @blenderskool and us so far are having a sort of mix of both. Its a mix of good design practices and not necessarily Material design or Ant design only

[2018-04-21 07:06] gpalsingh commented on #4
It'd be a good idea to ask the people who add new features to provide unit tests for the same.

[2018-04-21 15:27] abhaychawla commented on #7
How can I start contributing to the backend?

[2018-04-21 16:13] anurag-majumdar commented on #9
Hi guys, I came up with a flow regarding the Social login process using Fb, Google or any other such accounts.

Here is the flow diagram:
![social login flow](https://user-images.githubusercontent.com/13219942/39086217-0f0f45de-45ac-11e8-8fd0-569ecabb5d0d.png)

The official fb and gapi for client sdk.

To make use of the following diagram flow, we need to use the following packages in our Node ser

[2018-04-21 17:31] sb7896 opened #15 "Step to start project referencing to invalid directory"
Step No. 2 under [Project Set Up](https://github.com/UdacityMobileWebScholarship/showcase-app#project-set-up) to change the directory for starting the project is referencing to an invalid directory `showcase-app/frontend`. Instead, it should be ` showcase-app/client`

[2018-04-21 18:14] highskillzz commented on #9
awesome

[2018-04-21 20:38] parmeet1402 commented on #14
@nikitasharma2692
are we done setting up SASS and Material UI? Or i could do that?

[2018-04-22 05:48] Rohanhacker commented on #9
how do we proceed with it now ? I think one person can implement a backend strategy and one can work on frontend ? Lets create issues and assign it to people. I would like to take either frontend or backend for Facebook.

[2018-04-22 05:55] sounak07 commented on #9
I would like to take some backend task as well.

[2018-04-22 06:06] Rohanhacker commented on #9
@sounak07 I didn't know ghouls can do backend 😜

[2018-04-22 07:03] sounak07 commented on #9
Perk of being one eyed ghoul @Rohanhacker 😎

[2018-04-22 18:07] anurag-majumdar commented on #9
This will be a long task, it will be better to divide this in such a way such that maximum people who are interested in this domain can work. So it will be like implementing a specific part of the facebook or google signup process by 2-3 people instead of one person only.

After all we have to remember this is a **collaborative project**. If this had not been collaborative then I can implement thi

[2018-04-22 21:28] anurag-majumdar commented on #5
@blenderskool I liked the idea of the layouts you put out. Just in places of install I put view and view on github for individual project page. Other than that I think functionality wise things look quite good.

Thanks for the feedback regarding the usage of the same border radius.
I am sharing the desktop size mockups which are half completed as of now.
These mockups will follow most of the desig

[2018-04-22 23:01] ritikrishu commented on #15
Closed via - #16

[2018-04-22 23:01] #15 closed

[2018-04-22 23:59] anurag-majumdar commented on #14
Great to know, can I help setup the material-ui@next for the project by initiating a pull request?

[2018-04-23 05:16] divyamrastogi opened #17 "Server Side Setup"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

There's no server as of now.

**Expected behavior:**

We would like an Express server that would handle some of the API calls.
This should include an integration with **MongoDB** as well.

[2018-04-23 05:18] divyamrastogi opened #18 "API Creation"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

We'll keep adding features/API requests
**Expected behavior:**

Currently, I can think of the following APIs:

1. User Registration/Login (POST)
2. Admin Registration/Login (POST)
3. Project Registration (POST)
4. Project Approval (PUT)
5. Project Info (GET)

Let's keep updating this before picking it up.

Pre-

[2018-04-23 05:49] blenderskool commented on #5
@anurag-majumdar Awesome work. I have to make some minor changes to the submission form. Other than that I think we are ready for further development.

[2018-04-23 05:55] blenderskool commented on #14
Good to know that we will be using Material UI.
@anurag-majumdar We would be customizing the styles to match the designs right?

[2018-04-23 13:39] nikitasharma2692 opened #19 "Setting up Webpack for creating bundle, sass and other assets"
Need to integrate the webpack for creating the bundle. Creating a PR for the same

[2018-04-23 14:01] ritikrishu commented on #19
We want CRA and tooling system to handle almost all build headache in order to keep our purpose precise. If required, we'll reopen the issue or another issue with proper details.

[2018-04-23 14:01] #19 closed

[2018-04-23 14:28] anurag-majumdar commented on #14
@blenderskool Yes bro, we can do that. For example the **border-radius** attribute in css wil be quite heavily used I guess. Even I feel the **box-shadow** will be quite heavily used too.

@nikitasharma2692 Alright. Can we start working on a page for the front-end part? Or a new issue needs to be created for it?

[2018-04-23 14:52] nikitasharma2692 commented on #14
@anurag-majumdar Create a new issue for the same, Will share the PR for the current issue by EOD.

[2018-04-23 16:28] blenderskool commented on #14
@nikitasharma2692 Great.
@anurag-majumdar I think we should put all the designs in one place outside the repo. Do you know any place where we can do that? Apparently, with Invision you can't do it without a paid plan. :slightly_smiling_face:

[2018-04-23 17:24] sb7896 opened #20 "CODE_OF_CONDUCT link is broken"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
**Code of Conduct** link is broken under [Code of Conduct](https://github.com/UdacityMobileWebScholarship/showcase-app/blob/master/.github/CONTRIBUTING.md#-code-of-conduct) heading. It is currently pointing to [CODE_OF_CONDUCT.md](https://github.com/UdacityMobileWebScholarship/showcase-app/blob/master/CODE_OF_CO

[2018-04-23 18:04] nikitasharma2692 opened #23 "creating a global variable file for colors, fonts, height, width etc for the common layout of the app"

[2018-04-23 18:06] sb7896 commented on #18
I would like to work on API creation part

[2018-04-23 19:48] blenderskool commented on #14
@anurag-majumdar Ok, I will add them there :slightly_smiling_face:

[2018-04-23 19:51] anurag-majumdar commented on #14
@blenderskool I will also add PRs to the desktop folder and will add the finished jpg images there. 😃 . I am working on finishing the designs. After finishing it will do so.

[2018-04-23 20:02] divyamrastogi commented on #5
@blenderskool @anurag-majumdar : Awesome work guys! Really appreciate you doing this for the community.
Is it possible for you guys to add these designs on Zeplin?
https://zeplin.io/ is a tool for UI developers that makes things easier while developing. We'll start assigning tasks after that.

[2018-04-23 20:12] anurag-majumdar commented on #5
@divyamrastogi We need to upload our jpg files to Zeplin for reference right?

[2018-04-23 20:52] raveesh-me commented on #17
Should we not have an offline setup guide instead?
Let's collaborate on a wiki guide for installing the project environment on localhost like in the course and worry about server stuff "after" we have built the application

[2018-04-23 21:04] blenderskool commented on #5
@divyamrastogi @anurag-majumdar I think we can use this https://evrybo.com it is similar to InvisionApp but completely free. What do you think?

[2018-04-23 21:30] anurag-majumdar commented on #5
@blenderskool @divyamrastogi I am good with anything. Also @blenderskool and I were thinking if we could make a mockups folder in the existing project and add the desktop and mobile folders with the jpg files as a mockup. Apart from sharing the links this could be another additional way to give in to the project I guess.

[2018-04-23 21:55] ritikrishu commented on #18
where do you think we should deploy our server to and what services should we use for different stuff.
basically, I want to know if we'll be using firebase for our 360 requirements such as functions, authentication. As it quite easy to setup authentication with fb, github, google and few other integrations using firebase.

[2018-04-23 21:59] #20 closed

[2018-04-23 23:26] palnabarun commented on #18
@ritikrishu I think Firebase can be used for Auth and DB. For deployment, we can use now.sh or heroku. I prefer now.sh. We can go with the OSS Plan. More info [here](https://zeit.co/pricing)

[2018-04-24 03:30] divyamrastogi commented on #18
@ritikrishu @palnabarun : Honestly, I've never used Firebase, so I might not know it's true capabilities. But from what I've read it can give us a scalable database and features like authentication. I think our use case should suffice the use of Firebase.

^ now.sh looks good for the Frontend. Let me just close the issue about creating a NodeJs server.

[2018-04-24 03:31] divyamrastogi commented on #17
Closing this because we're going with Firebase.

[2018-04-24 03:31] #17 closed

[2018-04-24 03:35] divyamrastogi commented on #5
@blenderskool @anurag-majumdar : Evrybo seems good for prototyping, let's go with that. But for UI development, uploading them on Zeplin will enable UI devs to find colors, dimensions and styles easy.

[2018-04-24 06:16] highskillzz commented on #18
I have a question why are we using firebase for users when we can do everything at a single place? Just curious

[2018-04-24 07:30] nikitasharma2692 opened #24 "What will be the structure of the Client code components and where will be the unit test files placed"
Hello everyone,

As we are ready with the mockups,  we need to  have guidelines on how the structure of the client code will look, and where test files will be placed.

For example

1. Structure type 1

MyProject
->Components
--> App
 ---> App.jsx
---> App.scss
--->App.spec.js
--->App.snapshot.js
-->Dashboard
 ---> Dashboard.jsx
---> Dashboard.scss
--->Dashboard.spec.js
--->Dashboard.snapshot.js
-

[2018-04-24 10:21] kanlanc opened #25 "Models for project and user"
Guys for the model for the user and the project submitted, how about

For each project the owner can give in their github project link, its working link , its description. contributors and then we can show it in the frontend. hence the model will be like:-

name, github link, hosted link, description, owner, comments(array), moderators

As for the user
name,password,username,projects(array)

What

[2018-04-24 10:36] highskillzz commented on #25
const RepoSchema=new express.Schema({
    name:{
        type:String,
        requried:true
    },
    gitlink:{
        type:String,
        requried:true
    },
    owner:{
        type:String,
        required:true
    },
    contributors:[
        {
            type:mongoose.Schema.Types.ObjectId,
            ref:User,
        }
    ],
comments:[
        {
            type:mongoose.Schema.Type

[2018-04-24 10:37] highskillzz commented on #25
As for user
var userSchema = new Schema({
    name : {type : String,required: true},
    username : {type : String, unique: true, required: true},
    password : {type : String,required : true},
    repos:[{type:mongoose.Schema.Types.ObjectId,ref:Repo}],

});

[2018-04-24 11:17] blenderskool commented on #25
@highskillzz As per the designs, I think we are including all those information, along with more options such as browser support.
Also, there will be different user roles, so we must design it accordingly.

[2018-04-24 14:16] ritikrishu commented on #24
client
   --assets
   --sdk
      -- api-services
      -- ui-kit
      -- util services
      -- redux?
    --projects
        --project-list
           --components
           ProjectList.js
        --add-project
           --components
           AddProject.js
         index.js
     --some other module
        --feature set 1
            --its components
            FeatureSet1Component.js

[2018-04-24 14:28] divyamrastogi commented on #24
I was wondering if we really need the client folder anymore since we're not using a conventional server.

[2018-04-24 19:54] divyamrastogi commented on #18
@ritikrishu @blenderskool : I'm actually sold on Firebase. It solves a lot of problems for us, we don't have to worry about deployments.
Most people will be new to Firebase, I know that. But I think it's a good opportunity to learn a new technology.

[2018-04-24 20:37] blenderskool commented on #18
@anurag-majumdar Yes we should use Firestore, as it allows us to perform basic queries. Firestore web also supports offline data storage using IndexedDB, which can be used or we can do that ourselves based on what we have learnt in the course.

[2018-04-24 20:59] anurag-majumdar commented on #18
@blenderskool Exactly! This will be a nice thing to explore. So its going to be the latest version of Firebase then.

[2018-04-24 22:38] ritikrishu commented on #24
Oh yes! totally missed it 😃

[2018-04-24 23:03] ritikrishu commented on #18
Yay!🎉🎉
I was really hoping that we go with firebase because I am very much impressed by it's services so far and really want to learn more about it!

[2018-04-24 23:24] raveesh-me commented on #18
Firebase requires writing access rules within the console. Make that available in a separate project folder as well so that we could get a better experience

[2018-04-24 23:32] ritikrishu commented on #18
It also takes `database.rules.json` file to define access rules. We'll use that.

[2018-04-25 00:54] ritikrishu opened #26 "setup node-express app and static hosting for server and client on firebase"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Follow up from #7 #17
After discussion, we decided to go with firebase for different app services. For now, Client and Server setup is required.

[2018-04-25 00:56] ritikrishu commented on #26
I am gonna take this up myself! Should give a PR today when I get some time.

[2018-04-25 01:04] ritikrishu commented on #26
Oh, this was quite easy, took literally minutes!
Now I do strongly believe that we choose that right thing.
client will be served - https://showcase-app-6aace.firebaseapp.com/
test server handlers -
without cdn -> https://showcase-app-6aace.firebaseapp.com/api/non-cached-timestamp
with cdn -> https://showcase-app-6aace.firebaseapp.com/api/cached-timestamp

will put the PR up shortly!

[2018-04-25 05:43] nikitasharma2692 commented on #24
@ritikrishu What about the test case files ? where will they belong ? that is not mentioned in your structure ?

[2018-04-25 09:35] ritikrishu commented on #24
test files reside alongside their respective implementation files!

[2018-04-25 19:15] sb7896 opened #27 "Add link to install yarn package manager"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There is no Note to install **Yarn** package manager

**Expected behavior:**
Add Note to install **Yarn** package manager, as our application uses it.

[2018-04-25 20:25] anurag-majumdar commented on #5
@divyamrastogi Thanks for the invite. We can also upload it there. Currently @blenderskool and I have uploaded our images at this url: https://photos.app.goo.gl/5nm1W01LSmGwOfGh2

This is mainly Google photos where we have also posted our comments with respect to the designs.
The final design will be an amalgamation of choosing the best of both the mobile and desktop worlds.

Let us know what you

[2018-04-25 22:27] ritikrishu commented on #27
This is not expected as of now. Please see https://github.com/UdacityMobileWebScholarship/showcase-app/pull/28#issuecomment-384451711

[2018-04-25 22:27] #27 closed

[2018-04-26 00:16] ritikrishu opened #30 "Jot Down detailed requirements for server."
If we can get a detailed list of what else the server needs other than already covered in #29 . We can fasten up server setup process.

[2018-04-26 03:26] palnabarun commented on #30
I will share a basic API design based on the wireframes and functionality already decided by tonight. So, I am assigning this to me also.

[2018-04-26 09:50] ritikrishu commented on #30
yeah sounds good! @ everyone, please provide your input here so we pick/merge all things that we think is required.

[2018-04-26 09:57] ritikrishu commented on #14
I think @divyamrastogi have already invited the designers to Zeplin app.
Is it possible with Zeplin to make a project view only for anyone with the link? If so, the link to designs in readme will suffice. Because most of us won't be able to get dimensions and other stuff from _pngs_. At least I don't know how to use them! 😛

[2018-04-26 10:53] blenderskool commented on #14
@ritikrishu I have discussed about Zeplin with @divyamrastogi . I can't use it since it does not work with Linux and the designer that I use. Hence, we have put in there.
@anurag-majumdar I think @ritikrishu is sort of right. We would need dimensions of every component in the design. I would create a detailed style guide that includes all these information and add it there. This would provide us w

[2018-04-26 13:54] blenderskool commented on #14
@ritikrishu @anurag-majumdar I have added guidelines for the basic components of the app. Again, these guidelines may be tweaked a little while development :slightly_smiling_face:

[2018-04-26 16:25] anurag-majumdar commented on #14
@blenderskool Yes I agree. Good idea, I will be adding some guidelines which I have in mind as well.

[2018-04-26 18:05] #14 closed

[2018-04-27 17:58] anurag-majumdar opened #31 "Design guidelines readme file"
@realslimshanky @divyamrastogi @palnabarun @nikitasharma2692 @PrabhanshuAttri
Hi everyone, @blenderskool and I are currently working on a design guideline file in markdown. In that file we are going to provide a link to all the images stored in the google photos cloud.

This way we can avoid storage of multiple images on the project repository but yet provide a link to each of the screens in the f

[2018-04-28 23:15] ritikrishu commented on #9
Since we are using firebase, probably this should be just about toggling a button on our console.
What do you guys think we should support authentication with?
IMO, we either give Google and Github or just GIthub!

[2018-04-28 23:36] anurag-majumdar commented on #9
Let's go ahead with both. Firebase can do all the hardwork for us. We can easily integrate both.

[2018-04-30 08:37] #31 closed

[2018-04-30 08:37] ritikrishu commented on #31
Fixed via #32

[2018-04-30 08:45] ritikrishu commented on #18
The list of components from firebase will be growing slowly.
- to run client only, no firebase specific thing required...as you can directly develop using staging env on server.
- to run server locally, firebase CLI.
- to run whole project locally(both client and server) firebase CLI

Exact components that I think will eventually be there in our project will be _functions_, _hosting_, _push messag

[2018-04-30 08:48] ritikrishu commented on #18
Yeah and firestore for keep the file uploads in future.
IMO, we should start building the basic app first (i.e. no PWA, no advance features such as in app rendering and all). From there, we can divide work and some of us will be making it a PWA while others can help with the _"advance in app features"_.
Also, you don't need to learn all the things this project will be using, so take it easy...star

[2018-05-03 19:59] anurag-majumdar commented on #25
The main point is are we authenticating the normal user who is going to view the projects only?
I remember the **project owner** and **admin** have authentication so far.

Apart from that, the project owner will be having access to the repos he or she built.
I think we should keep the schema as simple as possible for the working part as we have around 10 days in hand now.

What we can do is while

[2018-05-04 14:34] PrabhanshuAttri commented on #5
Great work guys.
Minor thing: @anurag-majumdar  I found the following mockup.
![capture](https://user-images.githubusercontent.com/4739486/39633526-e0389894-4fd5-11e8-8517-e0c0e3f6c21b.PNG)

It contains Nazi flag. This is anti-Semite and we should not associate with anything like that. Please avoid using symbols or language which is hateful to some community. Please remove it. Rest of your works f

[2018-05-04 18:51] highskillzz commented on #25
The authentication for the user would be required only under the circumstances that the user will comment on the repo. Else there would be no point in authenticating the user. Shall I open a pull request for this then?

[2018-05-07 10:49] realslimshanky commented on #4
@divyamrastogi any update on this issue?

[2018-05-07 10:52] realslimshanky commented on #5
Nice work guys, Closing this issue now since our project has been integrated with Material-UI in #22 and Design guidelines have been added to the documentation as well in #32.

[2018-05-07 10:52] #5 closed

[2018-05-07 10:55] realslimshanky commented on #26
Closing this issue since we have decided to user Firebase now.
Similar discussion: https://github.com/UdacityMobileWebScholarship/showcase-app/issues/17#issuecomment-383792377

[2018-05-07 10:55] #26 closed

[2018-05-07 10:55] realslimshanky commented on #7
Closing this issue since we have decided to user Firebase now.
Similar discussion: https://github.com/UdacityMobileWebScholarship/showcase-app/issues/17#issuecomment-383792377

[2018-05-07 10:55] #7 closed

[2018-05-07 10:56] realslimshanky commented on #9
Closing this issue since we have decided to user Firebase now.
Similar discussion: https://github.com/UdacityMobileWebScholarship/showcase-app/issues/17#issuecomment-383792377

[2018-05-07 10:56] #9 closed

[2018-05-07 10:56] realslimshanky commented on #18
Closing this issue since we have decided to user Firebase now.
Similar discussion: https://github.com/UdacityMobileWebScholarship/showcase-app/issues/17#issuecomment-383792377

[2018-05-07 10:56] #18 closed

[2018-05-07 10:57] realslimshanky commented on #23
@divyamrastogi any update on the issue?

[2018-05-07 13:57] gpalsingh opened #35 "Project Logo"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

What are the dimension requirements?
What are the file's format requirements?
Any suggestions/ideas about the design of the logo itself?

[2018-05-07 15:55] Sahil-Dhawan commented on #35
What I think we should do is make the logos and upload them here and then we can poll on which one to select
Note*
Whosoever is contributing to the logos make
1. Png format and prefer transparent background as it is easy to implement throughout the PWA
2. Prefer square dimensions as in the logo should fit inside a  square though not necessary
3. Keep the .PSD or the edit file for if you are using

[2018-05-07 18:17] blenderskool commented on #35
## Logo Suggestion

Here's my first iteration of the logo. I have created it based on what the Showcase app would do - **a web app that provides a curated list of all collaborative projects**. If this logo is finalized, then I would provide the assets in the required formats. Do share your thoughts and suggestions with me :slightly_smiling_face:

![exploration](https://user-images.githubuserconten

[2018-05-07 19:09] realslimshanky commented on #24
I guess we need to revert back the original project structure now since we are using firebase.

[2018-05-07 19:15] realslimshanky commented on #35
@blenderskool great work. Could you please add this to the project directory as the logo for the website and also add a `.ico` format in a PR. I'm assigning this issue to you.

[2018-05-07 19:20] anurag-majumdar commented on #35
@blenderskool this looks really cool. Can't wait to see this logo with the designs.

[2018-05-07 19:21] realslimshanky opened #36 "Restoring project structure"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
The project repository was separated to a client-server model and hence a lot of code was shifted to `/client` folder.

**Expected behavior:**
Since we have decided to use Firebase for backend the restructure can be reversed to the original state.

**Steps to reproduce:**
None

[2018-05-07 19:32] anurag-majumdar commented on #36
I can help contribute on this part. I guess we need to bring out the contents of the client folder and set it in the repo's main directory itself?

[2018-05-07 19:39] divyamrastogi commented on #36
@anurag-majumdar : I was working on another issue here and had already moved back to the old structure.

[2018-05-07 19:39] divyamrastogi commented on #36
@realslimshanky, @palnabarun : Can you guys review once?

[2018-05-07 19:40] #36 closed

[2018-05-07 19:43] realslimshanky opened #38 "Fixing Material-UI dependency version"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Currently, Material-UI is set to `next` in the project dependency or [package.json](https://github.com/UdacityMobileWebScholarship/showcase-app/blob/7308ef66aa682994778c7b7462435b63ba899e54/package.json#L6) which is the pre-release and not stable.

**Expected behavior:**
We should be using the stable and version

[2018-05-07 19:46] realslimshanky opened #39 "Pull out DESIGN_GUIDELINES.md from .github folder"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
`DESIGN_GUIDELINES.md` is currently placed inside `.github` folder which is only for the Github Templated.

**Expected behavior:**
Create a separate folder named similar to `Guidelines` and move the `DESIGN_GUIDELINES.md` to this folder.

**Steps to reproduce:**
Just look into [.github](https://github.com/Udacit

[2018-05-07 19:51] blenderskool commented on #39
@realslimshanky Please check my existing PR that updates that file. Relocating that before handling that PR may cause merge conflict :confused:

[2018-05-07 19:51] realslimshanky opened #40 "[Frontend] Create User View"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
None

**Expected behavior:**

- A new front end for `User` which will contain all the information regarding the user.
- Project uses [Create React App](https://github.com/facebook/create-react-app) for [React](https://reactjs.org/) and [Material-UI](http://www.material-ui.com/) to produce the frontend.
- The des

[2018-05-07 19:53] blenderskool commented on #40
@realslimshanky I would like to first create the components that would be used throughout the app. This would help other developers to quickly add other layouts too

[2018-05-07 19:54] realslimshanky opened #41 "[Frontend] Create Projects View"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
None

**Expected behavior:**

- A new view for `Projects` is required which will showcase all the projects submitted by users which are available to view and install (or use).
- Project uses [Create React App](https://github.com/facebook/create-react-app) for [React](https://reactjs.org/) and [Material-UI](http:

[2018-05-07 19:55] blenderskool commented on #40
@realslimshanky That design was for Admin user who would have extra options.

A standard user profile design is this one https://photos.app.goo.gl/nVs4dVs2RmwVr2U86

[2018-05-07 19:57] realslimshanky opened #42 "Create Individual Project View"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
None

**Expected behavior:**

- A new view for `Project` is required which will showcase details of the individual project like developers, no of installs, description etc.
- Project uses [Create React App](https://github.com/facebook/create-react-app) for [React](https://reactjs.org/) and [Material-UI](http://w

[2018-05-07 19:59] realslimshanky opened #43 "[Frontend] Create Add Project View"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
None

**Expected behavior:**

- A view is required which will facilitate project submission or addition to the website.
- Project uses [Create React App](https://github.com/facebook/create-react-app) for [React](https://reactjs.org/) and [Material-UI](http://www.material-ui.com/) to produce the frontend.
- The d

[2018-05-07 20:01] blenderskool commented on #43
@realslimshanky Here's a slightly updated version https://photos.app.goo.gl/p5MHQ1IDUcXqLjBl1

[2018-05-07 20:03] realslimshanky commented on #43
@blenderskool thanks. I've updated that.

[2018-05-07 20:03] realslimshanky commented on #39
@blenderskool please link this issue to your PR by adding this issue's no to the PR description.

[2018-05-07 20:07] #24 closed

[2018-05-07 23:42] Sahil-Dhawan commented on #35
@realslimshanky so this one itself is finalized, shouldn't we wait for more contributions? As I was going to send in my design by tomorrow as I was a bit busy with externals for today

[2018-05-08 05:10] anurag-majumdar commented on #38
So we need to set the version of material-ui back to 0.20 and install the dependencies? I can take up this issue.

[2018-05-08 05:11] anurag-majumdar commented on #41
I would like to work on this page.

[2018-05-08 05:30] Rohanhacker commented on #43
claim

[2018-05-08 08:51] blenderskool opened #46 "Create required UI components for the front-end"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**

As of now, most of the issues are open to other developers on **per-layout basis**. Since the app uses fundamental components throughout the app, every page may end up having different styles for every component which makes it really cumbersome to manage.

**Expected behavior:**

We can first create the **funda

[2018-05-08 11:46] anurag-majumdar commented on #46
@blenderskool This is quite an important task indeed. Will you be carrying this feature out by yourself or you would like one more person to join in with you? If you need help I can assist you with these fundamental components. :smiley:

[2018-05-08 12:32] blenderskool commented on #46
@anurag-majumdar Yes, even you can contribute. Based on some component guidelines that I have added to the albums, we can divide the components between ourselves.

[2018-05-08 16:54] Rohanhacker commented on #43
@realslimshanky @ritikrishu I've claimed this issue please assign it to me

[2018-05-08 19:18] realslimshanky commented on #35
@Sahil-Dhawan since this issues has been given to @blenderskool you might wanna check other open issues.

[2018-05-08 19:52] realslimshanky commented on #46
@blenderskool if this is the case, one has to create UI components. And then those components can be used by other contributors for layout development.
Inversely, since we have fixed views, those views can be designed individually to each other. Since we have very few time left till the end of the course we should have a working model. In future if we get time we can unify similar components.
What

[2018-05-08 19:57] divyamrastogi commented on #46
I actually agree with @blenderskool because it's not that hard to identify reusable components. Believe me, it saves a lot of time if you think ahead and plan these things a little.

In fact, even the layout can be a component since we've got a similar structure of the header section and the rest of the page. Let me identify these components and I'll create issues for them. Then, we can reuse thos

[2018-05-08 19:57] realslimshanky commented on #41
@anurag-majumdar please go ahead and raise a PR. I'm assigning this issue to you. By what time should we expect this feature?

[2018-05-08 19:59] realslimshanky commented on #43
@Rohanhacker please go ahead and raise a PR. I'm assigning this issue to you. By what time should we expect this feature?

[2018-05-08 20:04] realslimshanky commented on #46
@divyamrastogi great. Thanks for taking such a huge task. Would help a lot in future processes.

[2018-05-08 20:08] blenderskool commented on #46
@realslimshanky @divyamrastogi I have already added some in-depth component guidelines here https://photos.app.goo.gl/5nm1W01LSmGwOfGh2
Additional components can be created based on these principles

[2018-05-08 20:08] realslimshanky commented on #43
**Updates**
@Rohanhacker according to https://github.com/UdacityMobileWebScholarship/showcase-app/issues/46#issuecomment-387523484, we are currently underway component development for the layout, after this issue is resolved you are free to start working.

[2018-05-08 20:08] realslimshanky commented on #41
**Updates**
@anurag-majumdar according to https://github.com/UdacityMobileWebScholarship/showcase-app/issues/46#issuecomment-387523484, we are currently underway component development for the layout, after this issue is resolved you are free to start working.

[2018-05-08 20:48] anurag-majumdar commented on #38
Will let you know asap I fix the version and the dependencies. Thanks @realslimshanky.

[2018-05-08 20:52] anurag-majumdar commented on #41
Exactly, I think first I need to work with reusable components required along with blenderskool and divyam and then will finish this page asap. This page can be finished within a few hours after the the initial setup is done.

[2018-05-08 21:00] anurag-majumdar commented on #46
Guys, before we dive in to the components part, we need to also add that we are changing the version from latest material-ui to the stable one 0.20. I am working on this part and will issue a PR soon.

The UI layouts are going to use 0.20 version of material-ui.

[2018-05-09 04:26] divyamrastogi opened #47 "Create a Header component"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
We need a header component that can be reused on all pages.

**Expected behavior:**
Create a `Header` component based on the following guideline.
https://photos.app.goo.gl/Xh4wxQAAUPKWD5Dw5

[2018-05-09 04:32] divyamrastogi opened #48 "Create a Button component"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There is no common button

**Expected behavior:**
We need to create a simple Button component based on this [design](https://photos.app.goo.gl/xwzWJyJmmnHqWcJk9) and that will be easy to reuse
It should work something like this:
`<SButton type="primary" onClick={someFunction}>Submit</SButton>`
`type` : primary|s

[2018-05-09 04:40] divyamrastogi opened #49 "Create a Card Component"
**I'm submitting a ...**
- [x] feature request

**Current behavior:**
We need a Card component so as to reuse on the project description page based on the [design](https://photos.app.goo.gl/mGBKzX3YbRhF3a5C6)

**Expected behavior:**
Anyone should be able to use the card component in this way:
`<Card onClick={someHandler} detail={true} detailText="Click Here">
  <div className="title">This is the t

[2018-05-09 04:45] divyamrastogi opened #50 "[Frontend] Create a Tile Component"
**I'm submitting a ...**
- [x] feature request

**Current behavior:**
We need a Tile component so as to reuse on the home page based on the [use case](https://photos.app.goo.gl/fwjGFaiPL3HqnAuu6)
![image](https://user-images.githubusercontent.com/1598017/39795980-8712b228-5371-11e8-9213-8c1c52b83995.png)

**Expected behavior:**
Anyone should be able to use the Tile component in this way:
[code]

[2018-05-09 04:47] anurag-majumdar commented on #38
There is one thing I saw, the existing styles and all would seem to break and need to refactor those areas for changing the version from 'next' to 0.20. I will also refactor those areas as much as possible.

[2018-05-09 05:22] divyamrastogi opened #52 "[Frontend] Create a ProjectCard component based on Card Component"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There's no `ProjectCard` component as of now.

**Expected behavior:**

Make a `ProjectCard` Component that will compose on the `Card`, `SButton` and `Avatar`
![image](https://user-images.githubusercontent.com/1598017/39796106-379a64c4-5372-11e8-9c87-a9ba33373340.png)

It could be used like this:
[code]

Each `pr

[2018-05-09 05:31] blenderskool commented on #38
@realslimshanky @anurag-majumdar It is good to be on stable version, but looking at 0.20.0 documentation, I see many differences in styling compared to next version which is more close to real guidelines.

Also overriding components with this version is easier and allows more options :slightly_smiling_face:

[2018-05-09 05:35] anurag-majumdar commented on #38
@blenderskool is actually right regarding this area, even if 0.20 is a stable version, it does not have some of the new features as next has. Also, next and 0.20 are not completely backwards compatible and a lot of refactoring needs to be done here.

[2018-05-09 05:37] anurag-majumdar commented on #49
I can work on this feature.

[2018-05-09 07:42] divyamrastogi opened #53 "Create an Avatar component"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There's no `Avatar` component. Each user will have an Avatar which can then be used to show Collaborators, Project Owners and Admins.

**Expected behavior:**
We need an `Avatar`component that could be used this way and looks like:
**Variation 1:**
![image](https://user-images.githubusercontent.com/1598017/398019

[2018-05-09 07:51] blenderskool commented on #53
Additionally clicking on Variation 1 or 3 should open their profile if possible.

[2018-05-09 13:54] divyamrastogi commented on #53
That should be simple enough to do. We'll add an `onClick` handler.

[2018-05-09 14:32] Rohanhacker commented on #43
okay, I hope this will be finished by friday

[2018-05-09 14:47] Rohanhacker commented on #53
material ui already have an avatar component 'material-ui/Avatar'

[2018-05-09 18:57] divyamrastogi commented on #53
@Rohanhacker : Thanks for pointing that out! I wasn't really familiar that it was already there. Closing this.
@saini-himanshu : Perhaps you could help us out with another issue?

[2018-05-09 18:57] #53 closed

[2018-05-10 05:04] Rohanhacker commented on #47
claim

[2018-05-10 05:04] Rohanhacker commented on #47
I've claimed this issue please assign it to me

[2018-05-10 14:45] realslimshanky commented on #50
@saini-himanshu nice. I'm assigning this to you. Please raise a PR soon.

[2018-05-10 14:46] realslimshanky commented on #47
@Rohanhacker I'm assigning this issue to you. Please raise a PR soon.

[2018-05-11 00:09] anurag-majumdar commented on #49
@divyamrastogi @blenderskool

This is how it looks now, just like it was mentioned.

![image](https://user-images.githubusercontent.com/13219942/39900141-6880e1be-54dd-11e8-921b-5afb6bc0d6bc.png)

I have a few doubts:
1. Will this card be only used for detailed texts and descriptions and the click for read more if extra data is there?
2. I guess we need to set a default height for this type of car

[2018-05-11 07:11] Rohanhacker commented on #47
@realslimshanky sure. You didn't assigned me though

[2018-05-11 07:32] divyamrastogi commented on #47
Unless you become a contributor, you won't be assigned because your name doesn't come up in the assignee list. You'll have to raise a PR once.

[2018-05-11 07:35] Rohanhacker commented on #47
ohh okay

[2018-05-11 12:18] anu-007 commented on #42
@realslimshanky I would like to work on this one.

[2018-05-11 16:40] anurag-majumdar commented on #49
Made changes to shadow of the card component. Made it as shown in the design.

[2018-05-12 19:36] Ankk98 opened #60 "Wrong setup guidelines in Readme.md"
**I'm submitting an Issue**

**Current behavior:**
 Wrong guidelines in readme.md
  It tells wrong address to change directory

**Expected behavior:**
 Directory to change needs to be modified.

**Steps to reproduce:**
Just see Readme.md

[2018-05-13 12:44] anurag-majumdar commented on #46
Please ignore the last comment regarding 0.20. We are continuing with material-ui@next.
Are the reusable components in place? Then we can start building the pages asap.

@divyamrastogi @blenderskool @realslimshanky @PrabhanshuAttri @palnabarun

[2018-05-13 12:47] #50 closed

[2018-05-14 13:05] blenderskool opened #62 "Fix Tile component"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**

As of now, the Tile component is missing a few styles that are shown in the guidelines. Following styles are missing:
- Correct Box-shadow
- Gradient Background

**Expected behavior:**

Tile component follows the design guidelines

[2018-05-14 14:26] blenderskool commented on #62
@saini-himanshu I am working on this. We have to darken the color and use it as a gradient. Here's some reference https://stackoverflow.com/questions/5560248/programmatically-lighten-or-darken-a-hex-color-or-rgb-and-blend-colors

[2018-05-15 00:50] #62 closed

[2018-05-15 03:39] ritikrishu commented on #38
I think material UI recommends to use next version for new projects. So this is fine. But yeah, instead of `@next` we should be using a fixed version number whichever is latest

[2018-05-15 04:51] ritikrishu commented on #60
Closed via #61

[2018-05-15 04:51] #60 closed

[2018-05-15 05:26] ritikrishu commented on #42
Hey @anu-007, we trying to place reusable components in place, as you can see in other discussions. Once they are there, it'll we easier to pick them up and start building the full page layouts. So keep an there...and yes since this is an open issue I am assigning this to you.

[2018-05-23 13:56] ritikrishu opened #64 "[Front End] Setup firebase helper module"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

There is no such module

**Expected behavior:**

Repo should have a helper SDK module that handles all firebase things. For starters, a sign in/sign out method so frontend guys can just use those to integrate FB with UI

[2018-05-23 20:51] #64 closed